html {
  background: url('./images/EFEgDXxW4AE61xo.jpg') no-repeat right top fixed;
  background-size: cover;
}

body {
  background-color: #555555;
  width: 600px;
  margin: 6% auto;
  border: 5px solid rgb(41, 41, 41);
  padding:  20px 20px 20px;
}

h1 {
  font-family: "Audiowide", cursive;
  font-size: 50px;
  text-align: center;
  color:#ffffff;
}

#app {
    display: flex;
    width: 500px;
    height: 300px;
    font-family: "Audiowide", cursive;
    font-weight: bold;
    padding-left: 49px;
  }
  
  .click-area {
    flex-grow: 1;
  
    display: flex;
    align-items: center;
  
    background: #ce1414;
    background-size: 90%;
    background-position: center;
    height: 300px;
    cursor: pointer;
  }
  
  .display-text {
    padding: 24px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
  }
  
  .recent-scores {
    display: flex;
    flex-direction: column;
    width: 125px;
    flex-shrink: 0;
  }
  
  .score {
    flex-grow: 1;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 16px;
  }
  
  .score:nth-child(odd) {
    background: #eeeeee;
  }

  .score:nth-child(even) {
    background: #ffffff;
  }

#description {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  color: #eeeeee;

  width: 475px;

  border: 3px #eeeeee solid;

  margin: 0 auto;
  padding: 5px;
}